.row{
    padding: 20px;
    color: #92B588;
}


.titulo{
    display: inline-flex;
    justify-content: space-between;
}

.agregar{
    color: #c1e2b8;
    border: 2px solid #596e53;
    border-radius: 70%;
    box-shadow: 5px 5px 20px #596e53;
}

.contenedor{
    margin: 3%;
}
.botones{
    display: flex;
    margin-left: 3%;
    justify-content: center;
}

.chicos {
    border: 1px solid #596e53;
    color: #c1e2b8;
    margin-left: 3%;
    box-shadow: 5px 5px 20px #596e53;
}
.chicos i{
    font-size: 80%;
}

#MyModal{
    background-color: #596e53 !important;
    border-color: #384b33;
    color: 596e53;
}

input, textarea {
    background-color: #596e53 !important;
    border: 1px solid #384b33 !important;
}

.btn-modal {
    color: #c1e2b8;
}